AI-Automation/ai-agent-project-management.json
{
  "meta": {
    "instanceId": "4c1dcb85b32fb85c609e4b8d8f8a7e6b358d4e4f43e5b8b7ff8d4e25e22d9215"
  },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "project-management",
        "options": {}
      },
      "id": "3e315c78-9a61-4d6c-8c9e-5f7b7f2e8b23",
      "name": "Project Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [280, 300]
    },
    {
      "parameters": {
        "model": "gpt-4",
        "messages": {
          "messageValues": [
            {
              "role": "system",
              "message": "You are a project management AI assistant. Extract tasks, deadlines, and project details from meeting transcripts and create structured project data."
            },
            {
              "role": "user",
              "message": "=Extract project tasks from this meeting transcript: {{ $json.transcript }}"
            }
          ]
        },
        "options": {
          "temperature": 0.3
        }
      },
      "id": "7f2a9c3d-1e4b-5c6d-9e8f-2a3b4c5d6e7f",
      "name": "AI Task Extractor",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [500, 300]
    },
    {
      "parameters": {
        "base": { "baseId": "appXXXXXXXXXXXXXX" },
        "table": { "tableId": "tblXXXXXXXXXXXXXX" },
        "columns": {
          "mappingMode": "defineBelow",
          "values": {
            "Task Name": "={{ $json.task_name }}",
            "Description": "={{ $json.description }}",
            "Priority": "={{ $json.priority }}",
            "Deadline": "={{ $json.deadline }}",
            "Assignee": "={{ $json.assignee }}",
            "Project": "={{ $json.project_name }}",
            "Status": "To Do"
          }
        }
      },
      "id": "8a9b0c1d-2e3f-4a5b-6c7d-8e9f0a1b2c3d",
      "name": "Create Airtable Records",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "channel": "#project-management",
        "text": "=🚀 New Project Tasks Created!\n\n**Project:** {{ $('AI Task Extractor').first().json.project_name }}\n**Tasks:** {{ $('AI Task Extractor').all().length }} new tasks\n**Priority:** {{ $('AI Task Extractor').first().json.priority }}\n\n📋 View in Airtable: [Project Board](https://airtable.com/appXXXXXXXXXXXXXX)"
      },
      "id": "9b0c1d2e-3f4a-5b6c-7d8e-9f0a1b2c3d4e",
      "name": "Slack Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [940, 300]
    },
    {
      "parameters": {
        "model": "gpt-4",
        "messages": {
          "messageValues": [
            {
              "role": "system",
              "message": "Generate professional follow-up emails for project stakeholders based on meeting outcomes and assigned tasks."
            },
            {
              "role": "user",
              "message": "=Create follow-up email for: {{ $json.assignee }} about task: {{ $json.task_name }} due: {{ $json.deadline }}"
            }
          ]
        }
      },
      "id": "0c1d2e3f-4a5b-6c7d-8e9f-0a1b2c3d4e5f",
      "name": "AI Email Generator",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [720, 500]
    },
    {
      "parameters": {
        "fromEmail": "projects@company.com",
        "toEmail": "={{ $json.assignee_email }}",
        "subject": "=Action Required: {{ $('AI Task Extractor').item.json.task_name }}",
        "emailType": "html",
        "message": "={{ $('AI Email Generator').item.json.content }}"
      },
      "id": "1d2e3f4a-5b6c-7d8e-9f0a-1b2c3d4e5f6a",
      "name": "Send Follow-up Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [940, 500]
    }
  ],
  "connections": {
    "Project Webhook": {
      "main": [[
        {
          "node": "AI Task Extractor",
          "type": "main",
          "index": 0
        }
      ]]
    },
    "AI Task Extractor": {
      "main": [[
        {
          "node": "Create Airtable Records",
          "type": "main",
          "index": 0
        },
        {
          "node": "AI Email Generator",
          "type": "main",
          "index": 0
        }
      ]]
    },
    "Create Airtable Records": {
      "main": [[
        {
          "node": "Slack Notification",
          "type": "main",
          "index": 0
        }
      ]]
    },
    "AI Email Generator": {
      "main": [[
        {
          "node": "Send Follow-up Email",
          "type": "main",
          "index": 0
        }
      ]]
    }
  }
}