Finanza-e-Amministrazione/Automazione-Fatture/Fatturazione-Typeform-PDF-Email-Registro-Scadenze.json
{
  "meta": {"instanceId": "fatture-typeform-pdf-01"},
  "nodes": [
    {"id":"1","name":"Typeform Fattura Compilata","type":"n8n-nodes-base.typeformTrigger","typeVersion":1,"position":[200,300],"parameters":{"formId":"{{ $env.TYPEFORM_FORM_ID }}"}},
    {"id":"2","name":"Estrai Dati Fattura","type":"n8n-nodes-base.code","typeVersion":2,"position":[420,300],"parameters":{"jsCode":"const form = $input.first().json;\nconst answers = {};\n\n// Mappa risposte Typeform\nform.form_response?.answers?.forEach(a => {\n  const field = form.form_response.definition.fields.find(f => f.id === a.field.id);\n  if (field) {\n    answers[field.title.toLowerCase().replace(/ /g, '_')] = a.text || a.email || a.number || a.choice?.label || '';\n  }\n});\n\nreturn [{\n  json: {\n    numero_fattura: 'FAT-' + new Date().getFullYear() + '-' + String(Date.now()).slice(-6),\n    data_fattura: new Date().toISOString().split('T')[0],\n    cliente_nome: answers.nome_azienda || answers.cliente || '',\n    cliente_email: answers.email || '',\n    cliente_indirizzo: answers.indirizzo || '',\n    cliente_piva: answers.partita_iva || '',\n    descrizione: answers.descrizione_servizio || answers.prodotto || '',\n    quantita: parseFloat(answers.quantita || '1'),\n    prezzo_unitario: parseFloat(answers.prezzo || answers.importo || '0'),\n    iva_percentuale: parseFloat(answers.iva || '22'),\n    note: answers.note || ''\n  }\n}];"}},
    {"id":"3","name":"Calcola Totali","type":"n8n-nodes-base.code","typeVersion":2,"position":[640,300],"parameters":{"jsCode":"const fattura = $input.first().json;\n\nconst imponibile = fattura.quantita * fattura.prezzo_unitario;\nconst iva_importo = (imponibile * fattura.iva_percentuale) / 100;\nconst totale = imponibile + iva_importo;\n\nreturn [{\n  json: {\n    ...fattura,\n    imponibile: imponibile.toFixed(2),\n    iva_importo: iva_importo.toFixed(2),\n    totale: totale.toFixed(2),\n    totale_euro: totale.toLocaleString('it-IT', { style: 'currency', currency: 'EUR' })\n  }\n}];"}},
    {"id":"4","name":"Genera PDF Fattura","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[860,300],"parameters":{"model":"gpt-4","messages":{"messageValues":[{"role":"system","message":"Genera HTML professionale per fattura italiana. Include: intestazione azienda, dati cliente, tabella servizi, calcoli IVA, totale, note legali. Stile: pulito, formale, pronto per PDF."},{"role":"user","message":"=Fattura {{ $json.numero_fattura }}:\nCliente: {{ $json.cliente_nome }} ({{ $json.cliente_email }})\nP.IVA: {{ $json.cliente_piva }}\nIndirizzo: {{ $json.cliente_indirizzo }}\nServizio: {{ $json.descrizione }}\nQtà: {{ $json.quantita }}, Prezzo: €{{ $json.prezzo_unitario }}\nImponibile: €{{ $json.imponibile }}, IVA {{ $json.iva_percentuale }}%: €{{ $json.iva_importo }}\nTotale: {{ $json.totale_euro }}\nNote: {{ $json.note }}"}]}}},
    {"id":"5","name":"Converti HTML a PDF","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1080,300],"parameters":{"url":"https://api.html-pdf-api.com/v1/generate","method":"POST","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer {{ $env.PDF_API_KEY }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"html","value":"={{ $('Genera PDF Fattura').item.json.html_content }}"},{"name":"options","value":"{\"format\": \"A4\", \"margin\": {\"top\": \"20mm\", \"bottom\": \"20mm\"}}"}]}}},
    {"id":"6","name":"Invia Email con PDF","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1300,220],"parameters":{"fromEmail":"fatturazione@azienda.it","toEmail":"={{ $json.cliente_email }}","subject":"=Fattura {{ $json.numero_fattura }} - {{ $json.cliente_nome }}","emailType":"html","message":"=<h3>Gentile {{ $json.cliente_nome }},</h3><p>in allegato trovi la <strong>Fattura {{ $json.numero_fattura }}</strong> del {{ $json.data_fattura }}.</p><p><strong>Importo totale:</strong> {{ $json.totale_euro }}</p><p><strong>Scadenza pagamento:</strong> {{ $now.plus({days: 30}).toFormat('dd/MM/yyyy') }}</p><p>Per informazioni: fatturazione@azienda.it</p><p>Cordiali saluti,<br>Amministrazione</p>","attachments":{"attachments":[{"type":"url","url":"={{ $('Converti HTML a PDF').item.json.pdf_url }}","name":"=Fattura-{{ $json.numero_fattura }}.pdf"}]}}},
    {"id":"7","name":"Registra in Contabilità","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[1300,380],"parameters":{"base":{"baseId":"{{ $env.AIRTABLE_BASE }}"},"table":{"tableId":"{{ $env.AIRTABLE_TABLE }}"},"columns":{"mappingMode":"defineBelow","values":{"Numero_Fattura":"={{ $json.numero_fattura }}","Data_Fattura":"={{ $json.data_fattura }}","Cliente":"={{ $json.cliente_nome }}","Email":"={{ $json.cliente_email }}","P_IVA":"={{ $json.cliente_piva }}","Descrizione":"={{ $json.descrizione }}","Imponibile":"={{ $json.imponibile }}","IVA":"={{ $json.iva_importo }}","Totale":"={{ $json.totale }}","Scadenza":"={{ $now.plus({days: 30}).toISODate() }}","Status":"Inviata","PDF_URL":"={{ $('Converti HTML a PDF').item.json.pdf_url }}"}}}},
    {"id":"8","name":"Promemoria Scadenza","type":"n8n-nodes-base.wait","typeVersion":1,"position":[1520,300],"parameters":{"resume":"webhook","options":{"hours":720}}},
    {"id":"9","name":"Email Sollecito","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1740,300],"parameters":{"fromEmail":"amministrazione@azienda.it","toEmail":"={{ $json.cliente_email }}","subject":"=Sollecito pagamento - Fattura {{ $json.numero_fattura }}","emailType":"html","message":"=<h3>Gentile {{ $json.cliente_nome }},</h3><p>la <strong>Fattura {{ $json.numero_fattura }}</strong> del {{ $json.data_fattura }} risulta scaduta.</p><p><strong>Importo:</strong> {{ $json.totale_euro }}</p><p>Ti preghiamo di provvedere al pagamento entro 7 giorni.</p><p>Per chiarimenti: +39 123 456 789</p><p>Grazie,<br>Amministrazione</p>"}},
    {"id":"10","name":"Alert Amministrazione","type":"n8n-nodes-base.slack","typeVersion":2.1,"position":[1300,480],"parameters":{"channel":"#amministrazione","text":"=💰 **NUOVA FATTURA GENERATA**\n📄 **Numero:** {{ $json.numero_fattura }}\n👤 **Cliente:** {{ $json.cliente_nome }}\n💶 **Importo:** {{ $json.totale_euro }}\n📧 **Email inviata a:** {{ $json.cliente_email }}\n📅 **Scadenza:** {{ $now.plus({days: 30}).toFormat('dd/MM/yyyy') }}\n\n🔗 **PDF:** {{ $('Converti HTML a PDF').item.json.pdf_url }}"}}
  ],
  "connections":{
    "Typeform Fattura Compilata":{"main":[[{"node":"Estrai Dati Fattura","type":"main","index":0}]]},
    "Estrai Dati Fattura":{"main":[[{"node":"Calcola Totali","type":"main","index":0}]]},
    "Calcola Totali":{"main":[[{"node":"Genera PDF Fattura","type":"main","index":0}]]},
    "Genera PDF Fattura":{"main":[[{"node":"Converti HTML a PDF","type":"main","index":0}]]},
    "Converti HTML a PDF":{"main":[[{"node":"Invia Email con PDF","type":"main","index":0},{"node":"Registra in Contabilità","type":"main","index":0},{"node":"Alert Amministrazione","type":"main","index":0}]]},
    "Registra in Contabilità":{"main":[[{"node":"Promemoria Scadenza","type":"main","index":0}]]},
    "Promemoria Scadenza":{"main":[[{"node":"Email Sollecito","type":"main","index":0}]]}
  }
}