Business-Operations/lead-qualification-advanced.json
{
  "meta": {
    "instanceId": "7b8c9d0e-1f2a-3b4c-5d6e-7f8a9b0c1d2e"
  },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-capture",
        "options": {}
      },
      "id": "2e4f6a8b-9c0d-1e2f-3a4b-5c6d7e8f9a0b",
      "name": "Lead Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [280, 300]
    },
    {
      "parameters": {
        "model": "gpt-4",
        "messages": {
          "messageValues": [
            {
              "role": "system",
              "message": "You are a lead qualification AI. Score leads from 0-100 based on: company size, industry, budget, timeline, decision-making authority. Return JSON with score and reasoning."
            },
            {
              "role": "user",
              "message": "=Qualify this lead: Company: {{ $json.company }}, Industry: {{ $json.industry }}, Role: {{ $json.role }}, Budget: {{ $json.budget }}, Timeline: {{ $json.timeline }}"
            }
          ]
        },
        "options": {
          "temperature": 0.2
        }
      },
      "id": "3f5a7c9d-0e1f-2a3b-4c5d-6e7f8a9b0c1d",
      "name": "AI Lead Scorer",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [500, 300]
    },
    {
      "parameters": {
        "url": "=https://api.apollo.io/v1/people/match",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "first_name",
              "value": "={{ $json.first_name }}"
            },
            {
              "name": "last_name",
              "value": "={{ $json.last_name }}"
            },
            {
              "name": "organization_name",
              "value": "={{ $json.company }}"
            }
          ]
        }
      },
      "id": "4a6b8c0d-1e2f-3a4b-5c6d-7e8f9a0b1c2d",
      "name": "Enrich Lead Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [500, 500]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "={{ $('AI Lead Scorer').item.json.score }}",
            "operation": "largerEqual",
            "rightValue": 80
          }
        }
      },
      "id": "5b7c9d1e-2f3a-4b5c-6d7e-8f9a0b1c2d3e",
      "name": "High Quality Lead?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "objectType": "contact",
        "propertiesToSend": {
          "properties": [
            {
              "property": "email",
              "value": "={{ $json.email }}"
            },
            {
              "property": "firstname",
              "value": "={{ $json.first_name }}"
            },
            {
              "property": "lastname",
              "value": "={{ $json.last_name }}"
            },
            {
              "property": "company",
              "value": "={{ $json.company }}"
            },
            {
              "property": "lead_score",
              "value": "={{ $('AI Lead Scorer').item.json.score }}"
            },
            {
              "property": "lead_source",
              "value": "AI Qualification System"
            }
          ]
        }
      },
      "id": "6c8d0e2f-3a4b-5c6d-7e8f-9a0b1c2d3e4f",
      "name": "Create HubSpot Contact",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [940, 200]
    },
    {
      "parameters": {
        "model": "gpt-4",
        "messages": {
          "messageValues": [
            {
              "role": "system",
              "message": "Generate personalized sales outreach email based on lead qualification data. Include specific value props for their industry and company size."
            },
            {
              "role": "user",
              "message": "=Create sales email for {{ $json.first_name }} at {{ $json.company }} ({{ $json.industry }}). Score: {{ $('AI Lead Scorer').item.json.score }}/100. Focus on {{ $('AI Lead Scorer').item.json.key_value_props }}"
            }
          ]
        }
      },
      "id": "7d9e1f3a-4b5c-6d7e-8f9a-0b1c2d3e4f5a",
      "name": "Generate Sales Email",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [940, 400]
    },
    {
      "parameters": {
        "channel": "#sales-alerts",
        "text": "=🎯 **HIGH QUALITY LEAD ALERT** 🎯\n\n👤 **Contact:** {{ $json.first_name }} {{ $json.last_name }}\n🏢 **Company:** {{ $json.company }}\n📊 **Score:** {{ $('AI Lead Scorer').item.json.score }}/100\n🎯 **Qualification:** {{ $('AI Lead Scorer').item.json.reasoning }}\n\n📧 **Email:** {{ $json.email }}\n📞 **Phone:** {{ $('Enrich Lead Data').item.json.phone }}\n💼 **Title:** {{ $('Enrich Lead Data').item.json.title }}\n\n🚀 **Next Steps:** Personalized outreach email generated and ready to send!",
        "attachments": []
      },
      "id": "8e0f2a4b-5c6d-7e8f-9a0b-1c2d3e4f5a6b",
      "name": "Alert Sales Team",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1160, 200]
    },
    {
      "parameters": {
        "fromEmail": "sales@company.com",
        "toEmail": "={{ $json.email }}",
        "subject": "=Exclusive opportunity for {{ $json.company }}",
        "emailType": "html",
        "message": "={{ $('Generate Sales Email').item.json.content }}"
      },
      "id": "9f1a3b5c-6d7e-8f9a-0b1c-2d3e4f5a6b7c",
      "name": "Send Personalized Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1160, 400]
    }
  ],
  "connections": {
    "Lead Webhook": {
      "main": [[
        {
          "node": "AI Lead Scorer",
          "type": "main",
          "index": 0
        },
        {
          "node": "Enrich Lead Data",
          "type": "main",
          "index": 0
        }
      ]]
    },
    "AI Lead Scorer": {
      "main": [[
        {
          "node": "High Quality Lead?",
          "type": "main",
          "index": 0
        }
      ]]
    },
    "High Quality Lead?": {
      "main": [
        [
          {
            "node": "Create HubSpot Contact",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate Sales Email",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Create HubSpot Contact": {
      "main": [[
        {
          "node": "Alert Sales Team",
          "type": "main",
          "index": 0
        }
      ]]
    },
    "Generate Sales Email": {
      "main": [[
        {
          "node": "Send Personalized Email",
          "type": "main",
          "index": 0
        }
      ]]
    }
  }
}