Business-Operations/saas-customer-onboarding.json
{
  "meta": {
    "instanceId": "2b3c4d5e-6f7a-8b9c-0d1e-2f3a4b5c6d7e"
  },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "customer-signup",
        "options": {}
      },
      "id": "3c4d5e6f-7a8b-9c0d-1e2f-3a4b5c6d7e8f",
      "name": "Customer Signup Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [280, 300]
    },
    {
      "parameters": {
        "model": "gpt-4",
        "messages": {
          "messageValues": [
            {
              "role": "system",
              "message": "You are a SaaS onboarding specialist. Analyze new customer data and create personalized onboarding journey with specific steps, timeline, and value realization milestones."
            },
            {
              "role": "user",
              "message": "=Create onboarding plan for: {{ $json.name }}, Company: {{ $json.company }}, Plan: {{ $json.subscription_plan }}, Industry: {{ $json.industry }}, Team Size: {{ $json.team_size }}"
            }
          ]
        }
      },
      "id": "4d5e6f7a-8b9c-0d1e-2f3a-4b5c6d7e8f9a",
      "name": "AI Onboarding Planner",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [500, 300]
    },
    {
      "parameters": {
        "objectType": "contact",
        "propertiesToSend": {
          "properties": [
            {
              "property": "email",
              "value": "={{ $json.email }}"
            },
            {
              "property": "firstname",
              "value": "={{ $json.first_name }}"
            },
            {
              "property": "lastname",
              "value": "={{ $json.last_name }}"
            },
            {
              "property": "company",
              "value": "={{ $json.company }}"
            },
            {
              "property": "subscription_plan",
              "value": "={{ $json.subscription_plan }}"
            },
            {
              "property": "lifecycle_stage",
              "value": "customer"
            },
            {
              "property": "onboarding_status",
              "value": "initiated"
            }
          ]
        }
      },
      "id": "5e6f7a8b-9c0d-1e2f-3a4b-5c6d7e8f9a0b",
      "name": "Create HubSpot Contact",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [720, 200]
    },
    {
      "parameters": {
        "model": "gpt-4",
        "messages": {
          "messageValues": [
            {
              "role": "system",
              "message": "Create a personalized welcome email sequence for SaaS customers. Include: warm welcome, quick wins, setup checklist, value proposition reinforcement, and next steps. Format as HTML email."
            },
            {
              "role": "user",
              "message": "=Generate welcome email for {{ $json.first_name }} at {{ $json.company }} using {{ $json.subscription_plan }} plan. Focus on {{ $('AI Onboarding Planner').item.json.key_benefits }} and include {{ $('AI Onboarding Planner').item.json.first_steps }}"
            }
          ]
        }
      },
      "id": "6f7a8b9c-0d1e-2f3a-4b5c-6d7e8f9a0b1c",
      "name": "Generate Welcome Email",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [720, 400]
    },
    {
      "parameters": {
        "fromEmail": "success@company.com",
        "toEmail": "={{ $json.email }}",
        "subject": "=Welcome to {{ $json.company }}! Let's get you started 🚀",
        "emailType": "html",
        "message": "={{ $('Generate Welcome Email').item.json.html_content }}"
      },
      "id": "7a8b9c0d-1e2f-3a4b-5c6d-7e8f9a0b1c2d",
      "name": "Send Welcome Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [940, 400]
    },
    {
      "parameters": {
        "boardId": { "mode": "list", "value": 12345678 },
        "groupId": { "mode": "list", "value": "topics" },
        "name": "=Onboard {{ $json.first_name }} ({{ $json.company }})",
        "columnValues": {
          "email": "={{ $json.email }}",
          "plan": "={{ $json.subscription_plan }}",
          "status5": { "label": "Getting Started" },
          "date4": "={{ $now.plus({days: 7}).toFormat('yyyy-MM-dd') }}",
          "text": "={{ $('AI Onboarding Planner').item.json.priority_actions }}"
        }
      },
      "id": "8b9c0d1e-2f3a-4b5c-6d7e-8f9a0b1c2d3e",
      "name": "Create Monday Task",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [940, 200]
    },
    {
      "parameters": {
        "channel": "#customer-success",
        "text": "=🎉 **NEW CUSTOMER ONBOARDED** 🎉\n\n👤 **Customer:** {{ $json.first_name }} {{ $json.last_name }}\n🏢 **Company:** {{ $json.company }} ({{ $json.industry }})\n💰 **Plan:** {{ $json.subscription_plan }}\n👥 **Team Size:** {{ $json.team_size }}\n\n🎯 **Onboarding Priority:**\n{{ $('AI Onboarding Planner').item.json.priority_actions }}\n\n🔗 **Next Steps:**\n{{ $('AI Onboarding Planner').item.json.timeline }}\n\n📊 **Success Metrics to Track:**\n{{ $('AI Onboarding Planner').item.json.success_metrics }}"
      },
      "id": "9c0d1e2f-3a4b-5c6d-7e8f-9a0b1c2d3e4f",
      "name": "Notify Success Team",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1160, 200]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "daysInterval": 1
            }
          ]
        }
      },
      "id": "0d1e2f3a-4b5c-6d7e-8f9a-0b1c2d3e4f5a",
      "name": "Day 1 Follow-up Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [500, 600]
    },
    {
      "parameters": {
        "model": "gpt-4",
        "messages": {
          "messageValues": [
            {
              "role": "system",
              "message": "Generate day 1 check-in email for SaaS customer. Focus on: progress check, addressing common blockers, providing quick wins, scheduling onboarding call if needed."
            },
            {
              "role": "user",
              "message": "Create day 1 follow-up for customer who signed up yesterday. Keep it helpful and supportive."
            }
          ]
        }
      },
      "id": "1e2f3a4b-5c6d-7e8f-9a0b-1c2d3e4f5a6b",
      "name": "Generate Day 1 Email",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [720, 600]
    },
    {
      "parameters": {
        "fromEmail": "success@company.com",
        "toEmail": "customer@example.com",
        "subject": "How's your first day going? We're here to help! 🚀",
        "emailType": "html",
        "message": "={{ $json.html_content }}"
      },
      "id": "2f3a4b5c-6d7e-8f9a-0b1c-2d3e4f5a6b7c",
      "name": "Send Day 1 Follow-up",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [940, 600]
    }
  ],
  "connections": {
    "Customer Signup Webhook": {
      "main": [[
        {
          "node": "AI Onboarding Planner",
          "type": "main",
          "index": 0
        }
      ]]
    },
    "AI Onboarding Planner": {
      "main": [[
        {
          "node": "Create HubSpot Contact",
          "type": "main",
          "index": 0
        },
        {
          "node": "Generate Welcome Email",
          "type": "main",
          "index": 0
        },
        {
          "node": "Create Monday Task",
          "type": "main",
          "index": 0
        }
      ]]
    },
    "Generate Welcome Email": {
      "main": [[
        {
          "node": "Send Welcome Email",
          "type": "main",
          "index": 0
        }
      ]]
    },
    "Create Monday Task": {
      "main": [[
        {
          "node": "Notify Success Team",
          "type": "main",
          "index": 0
        }
      ]]
    },
    "Day 1 Follow-up Trigger": {
      "main": [[
        {
          "node": "Generate Day 1 Email",
          "type": "main",
          "index": 0
        }
      ]]
    },
    "Generate Day 1 Email": {
      "main": [[
        {
          "node": "Send Day 1 Follow-up",
          "type": "main",
          "index": 0
        }
      ]]
    }
  }
}