Marketing-e-Vendite/Email-Marketing/Nurturing-Lead-Multicanale-Email-SMS-WhatsApp.json
{
  "meta": {"instanceId": "nurturing-multicanale-01"},
  "nodes": [
    {"id":"1","name":"Trigger Nuovo Lead","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[200,300],"parameters":{"httpMethod":"POST","path":"nuovo-lead","options":{}}},
    {"id":"2","name":"Normalizza Dati Lead","type":"n8n-nodes-base.code","typeVersion":2,"position":[420,300],"parameters":{"jsCode":"const lead = $input.first().json;\nreturn [{\n  json: {\n    nome: lead.nome || lead.first_name || '',\n    email: lead.email || '',\n    telefono: lead.telefono || lead.phone || '',\n    interesse: lead.interesse || lead.product || '',\n    fonte: lead.fonte || 'form-web',\n    timestamp: new Date().toISOString()\n  }\n}];"}},
    {"id":"3","name":"Classifica Interesse AI","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[640,300],"parameters":{"model":"gpt-4","messages":{"messageValues":[{"role":"system","message":"Classifica l'interesse del lead in HOT (pronto acquisto), WARM (interessato ma valuta), COLD (solo informazioni). Considera: prodotto, urgenza, budget. Restituisci JSON con categoria e motivo."},{"role":"user","message":"=Lead: {{ $json.nome }}, Interesse: {{ $json.interesse }}, Fonte: {{ $json.fonte }}"}]}}},
    {"id":"4","name":"È Lead HOT?","type":"n8n-nodes-base.if","typeVersion":2,"position":[860,200],"parameters":{"conditions":{"options":{"leftValue":"={{ $json.categoria }}","operation":"equal","rightValue":"HOT"}}}},
    {"id":"5","name":"È Lead WARM?","type":"n8n-nodes-base.if","typeVersion":2,"position":[860,400],"parameters":{"conditions":{"options":{"leftValue":"={{ $json.categoria }}","operation":"equal","rightValue":"WARM"}}}},
    {"id":"6","name":"Email Immediata HOT","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1080,120],"parameters":{"fromEmail":"vendite@azienda.it","toEmail":"={{ $json.email }}","subject":"=🔥 {{ $json.nome }}, offerta speciale per te!","emailType":"html","message":"=<h2>Ciao {{ $json.nome }}!</h2><p>Ho visto il tuo interesse per <strong>{{ $json.interesse }}</strong>.</p><p>🎯 Offerta limitata: <strong>20% sconto</strong> se acquisti entro 24h!</p><p>Ti chiamo tra 30 minuti per rispondere a ogni tua domanda.</p><p>Marco Rossi - Consulente Vendite<br>📞 +39 123 456 789</p>"}},
    {"id":"7","name":"WhatsApp Follow-up HOT","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1080,200],"parameters":{"url":"https://api.whatsapp.com/send","sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $json.telefono }}"},{"name":"message","value":"=Ciao {{ $json.nome }}! 👋\nTi ho appena inviato un'email con un'offerta speciale per {{ $json.interesse }}.\n🔥 20% sconto se decidi entro 24h!\nTi va se ti chiamo tra 30 min? 📞"}]}}},
    {"id":"8","name":"Sequenza Email WARM","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1080,320],"parameters":{"fromEmail":"info@azienda.it","toEmail":"={{ $json.email }}","subject":"={{ $json.nome }}, ecco tutto su {{ $json.interesse }}","emailType":"html","message":"=<h2>Ciao {{ $json.nome }}!</h2><p>Grazie per l'interesse in <strong>{{ $json.interesse }}</strong>.</p><p>📖 Ho preparato per te:</p><ul><li>Guida completa (PDF allegato)</li><li>3 casi studio di successo</li><li>Demo gratuita di 15 minuti</li></ul><p>Nei prossimi giorni riceverai consigli pratici via email.</p><p>Vuoi prenotare la demo? Basta rispondere a questa email! 🚀</p>"}},
    {"id":"9","name":"SMS Reminder WARM","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1080,400],"parameters":{"url":"https://api.sms-provider.com/send","sendBody":true,"bodyParameters":{"parameters":[{"name":"to","value":"={{ $json.telefono }}"},{"name":"message","value":"=Ciao {{ $json.nome }}! Ti ho inviato info su {{ $json.interesse }}. Demo gratuita disponibile - rispondi DEMO per prenotare! 🚀"}]}}},
    {"id":"10","name":"Newsletter COLD","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1080,500],"parameters":{"fromEmail":"newsletter@azienda.it","toEmail":"={{ $json.email }}","subject":"=Benvenuto {{ $json.nome }}! Consigli settimanali su {{ $json.interesse }}","emailType":"html","message":"=<h2>Benvenuto {{ $json.nome }}!</h2><p>Riceverai ogni settimana consigli pratici su <strong>{{ $json.interesse }}</strong>.</p><p>📧 Primo consiglio: [inserisci tip utile]</p><p>💡 Suggerimento della settimana: [insight valore]</p><p>A presto!<br>Il Team</p>"}},
    {"id":"11","name":"Salva in CRM","type":"n8n-nodes-base.hubspot","typeVersion":2,"position":[1300,300],"parameters":{"objectType":"contact","propertiesToSend":{"properties":[{"property":"email","value":"={{ $json.email }}"},{"property":"firstname","value":"={{ $json.nome }}"},{"property":"phone","value":"={{ $json.telefono }}"},{"property":"lead_source","value":"{{ $json.fonte }}"},{"property":"lead_score","value":"={{ $json.categoria === 'HOT' ? '90' : $json.categoria === 'WARM' ? '60' : '30' }}"},{"property":"interesse","value":"={{ $json.interesse }}"}]}}},
    {"id":"12","name":"Alert Team Vendite","type":"n8n-nodes-base.slack","typeVersion":2.1,"position":[1300,120],"parameters":{"channel":"#vendite","text":"=🔥 **LEAD HOT** 🔥\n👤 **{{ $json.nome }}** ({{ $json.email }})\n📱 {{ $json.telefono }}\n🎯 Interesse: {{ $json.interesse }}\n⚡ Follow-up inviato: Email + WhatsApp\n🕐 **Chiamare entro 30 minuti!**"}}
  ],
  "connections":{
    "Trigger Nuovo Lead":{"main":[[{"node":"Normalizza Dati Lead","type":"main","index":0}]]},
    "Normalizza Dati Lead":{"main":[[{"node":"Classifica Interesse AI","type":"main","index":0}]]},
    "Classifica Interesse AI":{"main":[[{"node":"È Lead HOT?","type":"main","index":0},{"node":"È Lead WARM?","type":"main","index":0},{"node":"Newsletter COLD","type":"main","index":0}]]},
    "È Lead HOT?":{"main":[[{"node":"Email Immediata HOT","type":"main","index":0},{"node":"WhatsApp Follow-up HOT","type":"main","index":0},{"node":"Alert Team Vendite","type":"main","index":0}],[]]},
    "È Lead WARM?":{"main":[[{"node":"Sequenza Email WARM","type":"main","index":0},{"node":"SMS Reminder WARM","type":"main","index":0}],[]]},
    "Email Immediata HOT":{"main":[[{"node":"Salva in CRM","type":"main","index":0}]]},
    "Sequenza Email WARM":{"main":[[{"node":"Salva in CRM","type":"main","index":0}]]},
    "Newsletter COLD":{"main":[[{"node":"Salva in CRM","type":"main","index":0}]]}
  }
}