Marketing-e-Vendite/Social-Media/Ascolto-Social-Locale-Brand-Concorrenti.json
{
  "meta": {"instanceId": "social-listening-locale-01"},
  "nodes": [
    {"id":"1","name":"Scheduler Ascolto","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[200,300],"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":3}]}}},
    {"id":"2","name":"Keywords Brand e Concorrenti","type":"n8n-nodes-base.set","typeVersion":2,"position":[420,300],"parameters":{"values":{"string":[{"name":"brand","value":"{{ $env.BRAND_NAME || 'MioMarchio' }}"},{"name":"concorrenti","value":"{{ $env.COMPETITORS || 'ConCorrenteA,ConcorrenteB' }}"},{"name":"settore","value":"{{ $env.SETTORE || 'tecnologia' }}"},{"name":"citta","value":"{{ $env.CITTA || 'Milano,Roma,Napoli' }}"}]}}},
    {"id":"3","name":"Twitter Search Brand","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[640,200],"parameters":{"url":"https://api.twitter.com/2/tweets/search/recent","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer {{ $env.TWITTER_BEARER }}"}]},"sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"({{ $json.brand }}) lang:it place_country:IT -is:retweet"},{"name":"max_results","value":"50"}]}}},
    {"id":"4","name":"Twitter Search Concorrenti","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[640,300],"parameters":{"url":"https://api.twitter.com/2/tweets/search/recent","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer {{ $env.TWITTER_BEARER }}"}]},"sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"({{ $json.concorrenti.split(',').join(' OR ') }}) lang:it place_country:IT -is:retweet"},{"name":"max_results","value":"50"}]}}},
    {"id":"5","name":"Google News Locale","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[640,400],"parameters":{"url":"https://newsapi.org/v2/everything","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Api-Key","value":"{{ $env.NEWS_API_KEY }}"}]},"sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"{{ $json.brand }} OR {{ $json.concorrenti.replace(',', ' OR ') }}"},{"name":"language","value":"it"},{"name":"pageSize","value":"50"}]}}},
    {"id":"6","name":"Analisi AI Sentiment e Trend","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[860,300],"parameters":{"model":"gpt-4","messages":{"messageValues":[{"role":"system","message":"Analizza menzioni per SENTIMENT (positivo/neutro/negativo), TREND (crescente/stabile/calante), OPPORTUNITÀ (partnership, influencer, eventi locali). Identifica insight geografici e temporali per il brand vs concorrenti. JSON con metriche."},{"role":"user","message":"=Analizza: Twitter {{ JSON.stringify($('Twitter Search Brand').all()) }} | Concorrenti {{ JSON.stringify($('Twitter Search Concorrenti').all()) }} | News {{ JSON.stringify($('Google News Locale').all()) }}"}]},"options":{"temperature":0.3}}},
    {"id":"7","name":"Trend Negativo?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1080,200],"parameters":{"conditions":{"options":{"leftValue":"={{ $json.sentiment_score < -0.3 || $json.trend === 'calante' }}","operation":"boolean"}}}},
    {"id":"8","name":"Opportunità Rilevata?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1080,400],"parameters":{"conditions":{"options":{"leftValue":"={{ $json.opportunita && $json.opportunita.length > 0 }}","operation":"boolean"}}}},
    {"id":"9","name":"Alert Crisi Reputazione","type":"n8n-nodes-base.slack","typeVersion":2.1,"position":[1300,120],"parameters":{"channel":"#marketing-alert","text":"=🚨 **ALERT REPUTAZIONE** 🚨\n📊 **Sentiment**: {{ $json.sentiment_score }}/1\n📈 **Trend**: {{ $json.trend }}\n🌍 **Zone critiche**: {{ $json.zone_critiche?.join(', ') }}\n📱 **Menzioni negative**: {{ $json.menzioni_negative }}\n\n💡 **Azioni consigliate**:\n{{ $json.azioni_immediate?.slice(0,3).join('\\n') }}\n\n🔗 **Link principali**: {{ $json.link_critici?.slice(0,2).join(', ') }}"}},
    {"id":"10","name":"Alert Opportunità","type":"n8n-nodes-base.slack","typeVersion":2.1,"position":[1300,400],"parameters":{"channel":"#marketing-opportunita","text":"=💡 **OPPORTUNITÀ RILEVATA** 💡\n🎯 **Tipo**: {{ $json.opportunita[0]?.tipo }}\n📍 **Zona**: {{ $json.opportunita[0]?.zona }}\n👥 **Influencer/Partner**: {{ $json.opportunita[0]?.contatti }}\n\n📈 **Potenziale**:\n{{ $json.opportunita[0]?.descrizione }}\n\n⚡ **Azioni suggerite**:\n{{ $json.opportunita[0]?.azioni?.join('\\n') }}"}},
    {"id":"11","name":"Salva Report Giornaliero","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[1300,300],"parameters":{"base":{"baseId":"{{ $env.AIRTABLE_BASE }}"},"table":{"tableId":"{{ $env.AIRTABLE_TABLE }}"},"columns":{"mappingMode":"defineBelow","values":{"Data":"={{ $now.toISODate() }}","Ora":"={{ $now.toFormat('HH:mm') }}","Sentiment_Score":"={{ $json.sentiment_score }}","Trend":"={{ $json.trend }}","Menzioni_Totali":"={{ $json.menzioni_totali }}","Menzioni_Brand":"={{ $json.menzioni_brand }}","Menzioni_Concorrenti":"={{ $json.menzioni_concorrenti }}","Opportunita":"={{ $json.opportunita?.length || 0 }}","Zone_Attive":"={{ $json.zone_attive?.join(', ') }}","Insight":"={{ $json.insight_principale }}"}}}},
    {"id":"12","name":"Digest Settimanale","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1080,500],"parameters":{"fromEmail":"marketing@azienda.it","toEmail":"team@azienda.it","subject":"=📊 Social Listening Report - Settimana {{ $now.toFormat('w/yyyy') }}","emailType":"html","message":"=<h2>📊 Report Social Listening</h2><h3>🎯 Panoramica Brand</h3><p><strong>Sentiment medio:</strong> {{ $json.sentiment_score }}/1<br><strong>Trend:</strong> {{ $json.trend }}<br><strong>Menzioni totali:</strong> {{ $json.menzioni_totali }}</p><h3>🏆 vs Concorrenti</h3><p>{{ $json.confronto_concorrenti }}</p><h3>💡 Opportunità</h3><ul>{{ $json.opportunita?.map(o => '<li>' + o.descrizione + '</li>').join('') }}</ul><h3>🌍 Zone più Attive</h3><p>{{ $json.zone_attive?.join(', ') }}</p>"}}
  ],
  "connections":{
    "Scheduler Ascolto":{"main":[[{"node":"Keywords Brand e Concorrenti","type":"main","index":0}]]},
    "Keywords Brand e Concorrenti":{"main":[[{"node":"Twitter Search Brand","type":"main","index":0},{"node":"Twitter Search Concorrenti","type":"main","index":0},{"node":"Google News Locale","type":"main","index":0}]]},
    "Twitter Search Brand":{"main":[[{"node":"Analisi AI Sentiment e Trend","type":"main","index":0}]]},
    "Twitter Search Concorrenti":{"main":[[{"node":"Analisi AI Sentiment e Trend","type":"main","index":0}]]},
    "Google News Locale":{"main":[[{"node":"Analisi AI Sentiment e Trend","type":"main","index":0}]]},
    "Analisi AI Sentiment e Trend":{"main":[[{"node":"Trend Negativo?","type":"main","index":0},{"node":"Opportunità Rilevata?","type":"main","index":0},{"node":"Salva Report Giornaliero","type":"main","index":0},{"node":"Digest Settimanale","type":"main","index":0}]]},
    "Trend Negativo?":{"main":[[{"node":"Alert Crisi Reputazione","type":"main","index":0}],[]]},
    "Opportunità Rilevata?":{"main":[[{"node":"Alert Opportunità","type":"main","index":0}],[]]}}
}