Investigation-OSINT/partner-due-diligence.json
{
  "meta": {"instanceId": "osint-due-1"},
  "nodes": [
    {"id":"a1","name":"Webhook Company","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[200,220],"parameters":{"httpMethod":"POST","path":"partner-dd","options":{}}},
    {"id":"a2","name":"Normalize Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[420,220],"parameters":{"jsCode":"const b=$input.first().json;return [{json:{company:b.company||'',domain:b.domain||'',vat:b.vat||''}}];"}},
    {"id":"a3","name":"Company Info API","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[640,120],"parameters":{"url":"https://company.clearbit.com/v2/companies/find?domain={{ $json.domain }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer {{ $env.CLEARBIT_KEY }}"}]}}},
    {"id":"a4","name":"News Negative","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[640,320],"parameters":{"url":"https://newsapi.org/v2/everything","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Api-Key","value":"{{ $env.NEWS_API_KEY }}"}]},"sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"{{ $json.company }} OR {{ $json.domain }}"},{"name":"language","value":"it"},{"name":"pageSize","value":"20"}]}}},
    {"id":"a5","name":"AI Risk Summary","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[860,220],"parameters":{"model":"gpt-4","messages":{"messageValues":[{"role":"system","message":"Valuta red flags per due diligence partner: controversie, frodi, sanzioni, problemi finanziari. Restituisci score 0-100 e elenco rischi sintetico."},{"role":"user","message":"=Dati: Company {{ JSON.stringify($('Company Info API').first().json) }} | News {{ JSON.stringify($('News Negative').first().json) }}"}]},"options":{"temperature":0.2}}},
    {"id":"a6","name":"Airtable Store","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[1080,220],"parameters":{"base":{"baseId":"{{ $env.AIRTABLE_BASE }}"},"table":{"tableId":"{{ $env.AIRTABLE_TABLE }}"},"columns":{"mappingMode":"defineBelow","values":{"Timestamp":"={{ $now.toISO() }}","Company":"={{ $json.company }}","Domain":"={{ $json.domain }}","RiskScore":"={{ $('AI Risk Summary').item.json.score }}","Risks":"={{ $('AI Risk Summary').item.json.risks?.join(', ') }}"}}}},
    {"id":"a7","name":"Notify Team","type":"n8n-nodes-base.slack","typeVersion":2.1,"position":[1280,120],"parameters":{"channel":"#due-diligence","text":"=🕵️ Due Diligence partner\nAzienda: {{ $json.company }} ({{ $json.domain }})\nRischio: {{ $('AI Risk Summary').item.json.score }}\nRischi: {{ $('AI Risk Summary').item.json.risks?.slice(0,3).join('; ') }}"}}
  ],
  "connections":{
    "Webhook Company":{"main":[[{"node":"Normalize Input","type":"main","index":0}]]},
    "Normalize Input":{"main":[[{"node":"Company Info API","type":"main","index":0},{"node":"News Negative","type":"main","index":0}]]},
    "Company Info API":{"main":[[{"node":"AI Risk Summary","type":"main","index":0}]]},
    "News Negative":{"main":[[{"node":"AI Risk Summary","type":"main","index":0}]]},
    "AI Risk Summary":{"main":[[{"node":"Airtable Store","type":"main","index":0},{"node":"Notify Team","type":"main","index":0}]]}
  }
}